/*
 * bg=18181b
 * textNormal=3f3f46
 * textSelected=71717b
 * textSelected=9f9fa9
 * inputBg=27272a
 * inputText=71717b
 */

window {
	background-color: #18181b;
}

#input {
	background-color: #27272a;
	color: #9f9fa9;
	border-radius: 0;
	border: none;
}
#input>* {
	color: #71717b;
}

#input:focus,
#input:focus-visible,
#input:active {
	box-shadow: inset 0 0 0 1px #9f9fa9;
}

#scroll {
	display: none;
}

#text {
	color: #3f3f46;
}
#text:selected {
	color: #9f9fa9;
}

#entry {
	border: none;
}

#entry:selected {
	background-color: #3f3f46;
	border: none;
	outline: none;
}

#entry>* {
	color: #3f3f46;
}
#entry:selected>* {
	color: #9f9fa9;
}

