window#waybar {
	background-color: #18181b;
	color: #3f3f46;
}

#workspaces button {
	border: none;
	border-radius: 0;
}
#workspaces button.focused {
	color: #71717b;
}
#workspaces button:hover {
	background: #27272a;
	color: #71717b;
	box-shadow: none;
}

